<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MealX</a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <% if signed_in? && current_user && (Flipper[:beta_search].enabled?(current_user) || current_user.user_actions&.dig("admin", "can_administer")) %>
      <ul class="navbar-nav">
        <% if current_user.user_actions&.dig("admin", "can_administer") %>
          <li class="nav-item">
            <%= link_to "Admin", admin_root_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Multiplier", multiplier_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search", multiplier_index_path + "/search", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search > Eggs", multiplier_index_path + "/search/eggs", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search > Duck + chocolate cake", multiplier_index_path + "/search/duck+chocolate+cake", class: "nav-link" %>
        </li>
      </ul>
    <% end %>
  </div>

  <ul class="navbar-nav ml-auto" style="flex-direction: row;">
    <% if signed_in? %>
      <span class="nav-link">
        <%= current_user.email %>
      </span>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
      <li class="nav-link">
        <%= link_to 'Log in', new_user_session_path, class: "btn" %>
      </li>
      <li class="nav-link">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>

  <% if signed_in? && current_user && Flipper[:beta_search].enabled?(current_user) %>
    <button
        class="navbar-toggler"
        style="margin-left: 1em;"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarToggleContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>
</nav>
